/* forms */

form:not(.inline) input {
	margin: 4px;
	padding: 4px;

	margin-left: 210px;
}

form:not(.inline) input[type=text], form:not(.inline) input[type=password] {
	width: 150px;

	position: relative;
	bottom: 6px;
}

form#login {
	text-align: center;
}

form#login input {
	font-size: 20px;
	padding: 5px;
	width: 140px;
}

label.info {
	margin-right: 10px;

	position: absolute;
	left: 0;

	width: 240px;
	text-align: right;
}

button, input[type=button], input[type=submit] {
	background: #3ba58c;
	padding: 5px;
	color: #fff4d8;
	border: none;
	box-shadow: inset 0px 0px 4px rgba(0,0,0,0.4);

	font-size: 20px;
}

form#dynamicAdd input[type=button] {
	font-size: 15px;
}