/* need a reset.css */

@font-face {
    font-family: 'sketch_blockbold';
    src: url('fonts/sketch_block-webfont.eot');
    src: url('fonts/sketch_block-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sketch_block-webfont.woff') format('woff'),
         url('fonts/sketch_block-webfont.ttf') format('truetype'),
         url('fonts/sketch_block-webfont.svg#sketch_blockbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'amandinehandwriting';
    src: url('fonts/amandine-webfont.eot');
    src: url('fonts/amandine-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/amandine-webfont.woff') format('woff'),
         url('fonts/amandine-webfont.ttf') format('truetype'),
         url('fonts/amandine-webfont.svg#amandinehandwriting') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background: #3ba58c;

	font-family: "Myriad Pro", Arial, sans-serif;
	font-size: 18px;
	color: #4d483f;
	overflow-x: hidden;
}


#map_canvas {
	width: 100%;

	position: fixed!important;
	top: 0px;
	left: 0px;
	z-index: 0;
}

body>div#app {
	position: absolute;
	width:100%;
	top: 0;
	left: 0;
	z-index: 2;
	background: rgba(242, 101, 22, .2);
}


p:not(:last-child) {
	margin-bottom: 6px;
	line-height: 1.2em;
}
strong {
	font-weight: bold;
	color: #f26516;
}

header {
	margin: 0; padding: 0;
	margin-top: 16px;
	margin-bottom: 16px;
	height: 165px; width: 100%;
	overflow: hidden;
	position: relative;

	-webkit-transition: height 0.2s;
}

header>nav {
	background-image: url('images/orange_pattern.png');
	padding: 0 40px;
	height: 165px; width: 100%;
	box-shadow: inset 0px 0px 8px #000;
	margin-left: -20px;

	position: relative;
	z-index: 2

	overflow: hidden;

	-webkit-transition: height 0.2s, width 0.2s;
}

header>nav {
	font-family: 'sketch_blockbold';
	text-transform: uppercase;

	color: #ffefd3;
	position: relative;
}

header>nav>h1, header>nav>ul, header>nav>ul li {
	display: inline-block;
	vertical-align: top;
}

 header>nav>ul {
 	position: absolute;
 	right: 100px;
 }

header>nav>h1 {
	font-size: 130px;
	line-height: 80px;
	width: 352px;
	position: relative;
	top: 19px;
	left: -4px;
	text-shadow: 3px 3px 0px rgba(0,0,0,.25);
	letter-spacing: -7px;

	-webkit-transition: font-size 0.2s, line-height 0.2s, width 0.2s, top 0.2s, left 0.2s, letter-spacing 0.2s;
}
header>nav>h1 span {
	font-size: 0.81em;
}

header>nav>ul>a>li {
	vertical-align: top;
	width: 257px; height: 125px;
	margin-left: 10px;

	border: 7px solid;
	border-radius: 20px;

	
	margin-top: 14px;

	box-shadow: 3px 3px 0px rgba(0,0,0,.25);

	-webkit-transition: width 0.2s, height 0.2s, margin-left 0.2s, border 0.2s, border-radius 0.2s, top 0.2s;
}

header>nav>ul>a>li:active {
	box-shadow: 1px 1px 0px rgba(0,0,0,.25);
	-webkit-transform: translate(2px, 2px);
}

header>nav>ul>a[href=explore]>li {
	background: url('images/explore_button.png') no-repeat center;
	background-size: 100%;
	font-size: 0!important;

	color: #514c43;
	-webkit-transition: right 0.2s;
}

header>nav>ul>a>li.text_based {
	font-size: 30px;
	text-align: center;
	padding-top: 35px; height: 90px;
	background: rgba(255,239,211,0.1);

	text-shadow: 3px 3px 0px rgba(0,0,0,.25);

	-webkit-transition: right 0.2s, font-size 0.2s, width 0.2s, height 0.2s;
}

header>nav>ul>a>li.text_based:active {
	text-shadow: 1px 1px 0px rgba(0,0,0,.25);

}

	/* small version */

	header.small {
		height: 82px;
	}

	header.small>nav {
		height: 82px; width: 100%;
		margin-left: -20px;
	}


	header.small>nav>h1 {
		font-size: 65px;
		line-height: 40px;
		width: 176px;
		top: 9px;
		left: -2px;
		letter-spacing: -3px;
	}

	header.small>nav>ul>a>li {
		width: 128px; height: 62.5px;
		margin-left: 5px;

		border: 3.5px solid;
		border-radius: 10px;

		top: 7px;
		font-size: 15px;

		margin-top: 7px;
	}

	header.small>nav>ul>a>li.text_based {
		padding-top: 17.5px; height: 45px;
	}

	/* end small version */

section {
	border: solid 11px #fff4d8;
	background-image: url('images/grey_pattern.png');
	box-shadow: 10px 10px 0px rgba(0,0,0,.25);
	padding: 13px;
}

section>div {
	background-image: url('images/beige_pattern.png');
}

section#sidebar {
	margin-left: 20px;
	position: absolute;
	top: 197px;
	width: 279px;
}

section#sidebar>div {
	padding-top: 20px;
	text-align: center;
}

section#sidebar h1 {
	font-family: 'amandinehandwriting';
	font-size: 22px;
	color: #f26516;
	margin-bottom: 10px;
}

section#sidebar figure {
	position: relative;
	height: 140px;
}

section#sidebar figure>img{
	position: relative;
	z-index: 3;
}

section#sidebar figure>figcaption {
	position: absolute;
	top: 0;
	z-index: 3;
	background: url(images/transparent_orange_pattern.png) repeat;
	width: 279px; height: 80px;

	padding-top: 60px;
	font-family: 'amandinehandwriting';
	font-size: 32px;
	color: #fff4d8;

	box-shadow: inset 0px 0px 8px rgba(0,0,0,.4);
}

section#sidebar footer {
	padding: 10px;
	padding-top: 13px;
	background: url(images/minimap.png) no-repeat left 10px;
	text-align: left;
	padding-left: 80px;

	font-size: 14px;
	font-weight: bold;
	color: #f26516;
}
section#sidebar footer a {
	font-weight: normal;
	color: #4d483f;
}

div#main {
	margin-left: 347px;
	position: relative;
}

section#explanations {
	width: 80%;
	margin-left: 10%
}

section#explanations>div, #popup>div {
	padding: 3%;
	padding-bottom: 20px;
	padding-top: 20px;
	position: relative;
}


section#explanations h1 {
	font-size: 84px;
	line-height: 64px;
	margin: auto; text-align: center;
	margin-top: 20px;
	letter-spacing: -5.6px;

	font-family: 'sketch_blockbold';
	text-transform: uppercase;

	color: #f26516;
}


section#explanations h1.logo {
	font-size: 104px;
}

section#explanations h1.logo span {
	font-size: 0.81em;
	display: block;
	margin-top: 4px;
	margin-left: -11px;

}

section#explanations h2, section#explanations h3, section#explanations h4 {
	color: #3ba58c;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: bold;
}

section#explanations h2 {
	font-family: 'amandinehandwriting';
	font-size: 30px;
	text-align: center;
	margin: 5px;
	font-weight: normal;

	margin-bottom: 15px;
}
section#explanations h3 { font-size: 24px; }
section#explanations h4 { font-size: 18px; }
section#explanations article>p { font-size: 14px; }

section#explanations h3, section#explanations p {margin: 20px 7%;}

section#explanations article {
	display: inline-block;
	width: 31.7%;
	vertical-align: bottom;
	text-align: center;
	padding: 0.5%;

	padding-top: 85px;
}

section#explanations article#kids { background: url(images/kids.png) no-repeat center 25px }
section#explanations article#parents { background: url(images/parents.png) no-repeat center top }
section#explanations article#structures { background: url(images/structures.png) no-repeat center 22px }

section#explanations article#kids h4 { font-family: 'amandinehandwriting'; font-size: 20px }

section#explanations strong {
	text-align: center;
	width: 100%;
	display: block;
	margin-top: 40px;
}

body>footer {
	position: fixed;
	bottom: 0px;
	text-align: center;
	width: 100%;

	box-shadow: 0px -10px 0px rgba(0,0,0,.25);
	background-image: url('images/beige_pattern.png');

	font-size: 12px;

	z-index: 10
}
body>footer>p {
	margin: 3px
}

body {
	margin-bottom: 40px;
}

#popup {
	margin: auto;
	margin-top: 10%;

	z-index: 100;
}

#popup_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%; height: 100%;
	z-index: 99;

	background: rgba(30,30,30,.4);

	display: none;
}

#popup h1 {
	font-family: 'amandinehandwriting';
	font-size: 36px;
	color: #f26516;
	margin-bottom: 10px;

	text-align: center;
}

#popup h2 {
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;

	margin: 20px 0 10px 0;
}

#popup {
	text-align: center;
}

#popup {
	width: 562px;
	margin: auto;
}

#kidsSpaceContainer:-webkit-full-screen {
  width: 100%;
  height: 100%;
  background: white;
}

.hidden {
	display: none;
}

@media screen and (max-width: 360px) {
	section {
		border: none;
		padding: 0;

		width: 100%!important;
		margin-left: 0!important;
	}
	#main {
		width: 100%!important;
	}
	header { margin-bottom: 0!important;}

	header>nav>ul {
		right: 30px!important;
	}
}


@media screen and (max-width: 490px) {
	
	header>nav>ul>a>li.to_responsively_hide {
		display: none;
	}

	nav {
		padding: 0 20px !important;
	}

	section#explanations h1 {
		font-size: 60px;
	}

	header>nav>ul {
		right: 40px!important;
	}
}

@media screen and (max-width: 630px) {
	#main {
		width: 90%;
	}
	section#explanations {
		width: 100%;
		margin :auto!important;
	}
	section#explanations>div {
		padding: 10px;
		padding-top: 40px;
		padding-bottom: 10px;
	}

	article {
		margin: auto;
		width: 70%!important;
		font-size: 12px;
		display: block!important;
		margin-bottom: 20px;
	}

	#map_canvas {
		display: none;
	}

	header>nav>ul {
		right: 40px!important;
	}
}

@media screen and (max-width: 960px) {

	header {
		margin-top: 0px;
		height: 82px;
	}

	header>nav {
		height: 82px; width: 100%;
		margin-left: -20px;
	}

	section#explanations {
		margin :auto!important;
	}

	header>nav>h1 {
		font-size: 65px;
		line-height: 40px;
		width: 176px;
		top: 9px;
		left: -2px;
		letter-spacing: -3px;
	}


	header>nav>ul>a>li {
		width: 128px; height: 62.5px;
		margin-left: 5px;

		border: 3.5px solid;
		border-radius: 10px;

		margin-top: 7px;
	}

	header>nav>ul>a>li.text_based {
		font-size: 15px;
		padding-top: 17.5px; height: 45px;
	}

	#main {
		margin-left: 0px!important;
	}

	section#sidebar {
		position: inherit;
		margin: auto;
		margin-top: 40px;
		}
	}

}