@font-face {font-family: 'DIN';src: url('font/OSP-DIN-webfont.eot');src: url('font/OSP-DIN-webfont.eot?#iefix') format('embedded-opentype'),url('font/OSP-DIN-webfont.woff') format('woff'),url('font/OSP-DIN-webfont.ttf') format('truetype'),url('font/OSP-DIN-webfont.svg#OSPDIN') format('svg');font-weight: normal;font-style: normal;}
body{font-family:'DIN',Arial,sans-serif;font-size:90%;color:#fff;}
nav, section, footer{position:relative;z-index:3;}
a{text-decoration:none;color:#fff;}
header nav{margin:0 auto 0 auto;width:70%;}
header li, header ul{display:inline-block;}
header nav > a{position:absolute;font-size:3em;font-weight:bold;text-transform:none;top:20px;letter-spacing:-.1em;}
header nav > a::before{content:'';display:block;background: transparent url('../css/img/sprite.png')-10px -330px no-repeat;width:100px;height: 80px;position:absolute;left:-2.2em;bottom:5px;}
header nav span{font-size:.5em;position:absolute;top:-.8em;}
nav a{text-transform:uppercase;font-size:1.2em;}
header li{margin-left:2em;}
header .main{margin-left:15em;}
header .main li{line-height:5em;width:6em;height:4.5em;text-align:center;}
header .main li:hover{background-color:#009FE0;}

.social{position:absolute;right:0;}
.social a{display: block;height: 22px;width: 22px;background: transparent url('../css/img/sprite.png') 0 0 no-repeat;text-indent:-9000px;}
.social li:nth-child(1) a{background-position: -185px -2px ;}
.social li:nth-child(2) a{background-position: -215px -2px ;}
.social li:nth-child(3) a{background-position: -245px -2px ;}
.social li:nth-child(4) a{background-position: -275px -2px ;}
.social li:nth-child(1) a:hover{background-position: -185px -33px ;}
.social li:nth-child(2) a:hover{background-position: -215px -33px ;}
.social li:nth-child(3) a:hover{background-position: -245px -33px ;}
.social li:nth-child(4) a:hover{background-position: -275px -33px ;}

h1{font-size:4em;width:60%;text-transform:uppercase;}
section > div {width:30%;position:absolute;right:0;padding:2em;background-color:#009FE0;top:10em;-webkit-transition:all 1s ease;}
.travel section > div{width:90%;top:5em;min-height:30em;}
section .main p{margin:1.5em 0;font-family:Arial;width:70%;}
div > nav a{display:inline-block;position:absolute;width:42px;top:-4.5em;height:42px;background-color:#009FE0;background-image: url('../css/img/sprite.png');text-indent:-9000em;}

section div.frame.on{left:0;}
section div.frame{width:60%;left:-85%;-webkit-transition:left .7s ease;}
section .frame .close{right:-1.6em;}
#map_canvas{width:100%;min-height:25em;}

section div.portfolio{top:5em;}

.polaroid{background-color:#fff;padding:1em;float:left;margin:1em;}

.pola{background-position: -84px -126px;left:-1.7em;}
.prev{background-position: 0 -84px;left:10em;}
.next{background-position: -42px -84px;left:12.8em;}
.all{background-position: 0 -126px; left:16.6em;}
.map{background-position: -168px -84px;left:1.1em;}
.close{background-position: -84px -84px;}

.trama{position: fixed;top: 0;display: block;width: 100%;height: 100%;background: transparent url('../css/img/trama.png');z-index: 1;}
footer{position: fixed;bottom: 0;height: 2em;width: 100%;background: rgba(0,0,0,0.9) none;z-index: 3;text-align:center;}
footer a {position:relative;line-height:1.5em;font-size:1.2em;}
footer a::before{content:'';display:block;background: transparent url('../css/img/sprite.png')0 -210px no-repeat;width: 25px;height: 33px;position:absolute; left:-2em; bottom:-5px;}
footer a:hover::before{height:66px;}
.error{border:4px solid #992D2E;}

.admin{background-color:#111;;}
.admin .main ul{list-style: none;}
.admin div.main li{position:relative;line-height:3em;font-size:2em;padding:0 1em;border-bottom:1px dashed #fff;}
.admin div.main li a{position:absolute; margin-left:1em;color:#0D0D0D;}
.admin div.main li a:hover{color:#fff;}
.admin .main li a:last-child{right:1em;}
.admin .main li a:first-child{right:3em;}
.admin h1 a{font-size:.5em;margin-left:2em;color:#0D0D0D;}
.admin h1 a:hover{color:#fff;}

fieldset{border:none;}
input, textarea{display:block;width:80%;line-height:1.5em;font-family:'DIN',Arial,sans-serif;font-size:1.5em;color:#333;border:none;border-radius:5px;padding:0 .5em;margin:1em 0 1em 0;}
input[name='position']{width:30%;display:inline;margin-right:1em;}
input[type='submit']{width:auto;background-color:#fff;}
.admin #map_canvas{width:80%;height:30em;background:#fff;margin:1em 0 1em 0;}
.admin p.pictures {width:300px;margin:0;position:relative;}
.admin p.pictures a {position:absolute;right:0;}
