<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 <base href="<?php echo $BASE; ?>/" />
	<title></title>
	<meta name="description" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="public/css/mfglabs_iconset.css" type="text/css" media="screen" >
  <link rel="stylesheet" href="public/css/travelr.css" type="text/css" media="screen"  />
  <link href='http://fonts.googleapis.com/css?family=Strait' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="public/js/lib/modernizr-2.5.3.min.js"></script>
  <script type="text/javascript" src="public/js/admin/travelr.js"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	
</head>
<body class="travel admin">
  <header>
    <nav>
      <a href=""><span>Travel'r</span> BORNEO</a>
      <ul class="main">
        <li><a href="admin/dashboard">Dashboard</a></li>
      </ul>
      <ul>
          <li><?php echo $SESSION['userName'] ?> <a href="admin/logout"><i class="icon-signout"></i></a></li> 
      </ul>
    </nav>
  </header>
  <section>
    
    <div class="main collapse">
      
      <h1></h1>
      <form action="" method="post" enctype="multipart/form-data">
        <fieldset>
        
        <input type="text" name="title" placeholder="Title" value="<?php echo $location->title ?>" <?php if($errorMsg['title']){ echo 'class="error"'; } ?>/>
        <textarea name="content" rows="8" cols="15"<?php if($errorMsg['content']){ echo 'class="error"'; } ?>><?php echo $location->content ?></textarea>
        <fieldset class="geocoder">
          <?php if(!$location): ?>
          <input type="text" name="position" placeholder="localisation" value="" id="position" <?php if($errorMsg['lat']||$errorMsg['lng']){ echo 'class="error"'; } ?>/><a href="" id="search-position"><i class="icon-magnifying icon2x"></i></a>
          <?php endif; ?>
          <div id="map_canvas">
            
          </div>
          <input type="hidden" name="lat" value="<?php echo $location->lat ?>" id="lat" />
          <input type="hidden" name="lng" value="<?php echo $location->lng ?>" id="lng" />
        </fieldset>
        <fieldset class="images">
          <?php foreach($pictures as $pic): ?>
          <img height="100" src="public/images/<?php echo $pic->src ?>" />
          <?php endforeach ?>
          <input type="file" name="picture[]" />
        </fieldset>
        <input type="submit" value="save"/>
      </fieldset>
     </form>
      
    </div>
    
    </div>
  </section>
  <footer>
    
  </footer>
</body>
</html>